<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.stoic.android.sdk">

  <application>
    <receiver
        android:name=".StoicBroadcastReceiver"
        android:exported="true"
        android:enabled="true">
      <intent-filter>
        <action android:name="com.squareup.stoic.android.sdk.ACTION_UDS_LISTEN" />
      </intent-filter>
    </receiver>
  </application>
</manifest>